<!-- This form is for creating/editing album info  -->

<%= action = (album.persisted? ? album_url(album) : albums_url) %>
<%= method = (album.persisted? ? :patch : :post) %>
<% submit_text = album.persisted? ? "Update" : "Create" %>

<center><form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method  %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="album_name" style="color:teal">Name of Album:</label>
    <input type="text" id="album_name" name="album[name]" value="<%= album.name %>">
  <br>
<!-- BAND NAME -->
    <label style="color:teal">Band
    <select name="album[band_id]">
        <% Band.all.each do |band| %>
        <option
          <%= "selected" if album.band_id == band.id %>
          value="<%= band.id %>">
          <%= band.name %>
          <% end %>
        </option>
      </select></label>
<br>
<!--  Live vs. Studio -->

<label for="album_type" style="color:teal">Album type:</label>
Live<input type="radio" id="album_type" name="album[album_type]" value="Live"
<%= album.album_type == "live" ? "checked" : "" %>>
Studio<input type="radio" id="album_type" name="album[album_type]" value="Studio"
<%= album.album_type == "studio" ? "checked" : "" %>>
<br>
<!-- Year -->
<label for="album_year" style="color:teal">Year released:</label>
<input type="number" id="album_year" name="album[year]" value="<%= album.year %>">
<br>
<!-- Submit button -->
<input type="submit" value="<%= submit_text %>"></form></center>
